{
  "extends": "ericbesnier",
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "codeFrame": true
  },
  "rules": {
    "no-console": "off"
  }
}
